.Story{
  .story_list_item{
    width: 70px;
    height: 100px;
    margin: 0 10px;
      
    .story_img {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 70px;
      margin: 4px auto 8px;
      border-radius: 50%;
      background: #833ab4;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to bottom, #fcb045, #fd1d1d, #833ab4);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to bottom, #fcb045, #fd1d1d, #833ab4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

      .story_user_img{
        width: 95%;
        margin: auto;
        border: 2px solid #FFFFFF;
        border-radius: 50%;
      }
    }

    .story_user_id{
      height: 14px;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: center;
      font-size: 12px;
    }
  }
}