:root{
  --container-border: 1px solid #DBDBDB;
  --container-border-radius: 1px;
  --light-gray: #FAFAFA;
  --inactive-color: #b2dffc;
  --active-color: #0095F6;
}

*{
  box-sizing: border-box;
}

body{
  background-color: var(--light-gray);
  font-size: 14px;
  height: 100%;
}

.instagram_logo{
  font-family: 'Lobster', cursive;
}

.Main {
  nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 54px;
    padding: 0 20px;
    border-bottom: var(--container-border);
    background-color: #ffffff;
    z-index: 1;

    .wrap {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
      width: 935px;
      height: 100%;
      margin: 0 auto;

      .instagram_logo {
        font-size: 25px;
      }
      .user_input {
        border: var(--container-border);
        box-sizing: border-box;
        background-color: var(--light-gray);
        padding: 3px;
        background-repeat: no-repeat;
      }

      .user_input::-webkit-input-placeholder {
        background-image: url(https://cdn1.iconfinder.com/data/icons/hawcons/32/698627-icon-111-search-256.png);
        background-size: contain;
        background-position: 50px center;
        background-repeat: no-repeat;
        text-align: center;
      }

      .icon {
        display: inline-block;
        flex-direction: row;
        justify-content: space-around;
      }

      img {
        margin: 5px;
        width: 22px;
      }
    }
  }

  main {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
    background-color: var(--light-gray);

    .main_container {
      display: flex;
      position: relative;
      top: 54px;
      width: 935px;

      .feeds {
        display: flex;
        flex-direction: column;
        float: left;
        margin-right: 30px;
        width: 100%;

        .article_feeds {
          display: inline-block;
          vertical-align: top;
          width: 614px;
          margin-bottom: 60px;
          border: var(--container-border);
          background-color: #ffffff;

          header {
            width: 100%;
            height: 60px;
            padding: 16px;

            img {
              border-radius: 100%;
              width: 30px;
            }

            a {
              position: absolute;
              left: 70px;
              color: black;
              text-decoration: none;
            }

            .account_name {
              font-size: 14px;
              font-weight: bold;
            }

            .feed_place {
              top: 40px;
              font-size: 12px;
            }

            button {
              all: unset;
              position: absolute;
              left: 570px;
              padding: 8px;
              cursor: pointer;
            }
          }

          .feed_img {
            width: 100%;
            height: 100%;
          }

          /* feed_detail */
          .feed_detail {
            width: 100%;
            margin-top: 4px;

            .feed_icon {
              display: flex;
              flex-direction: row;
              width: 100%;
              height: 40px;
              padding: 0 16px;

              .icon button {
                all: unset;
                left: -8px;
                margin-left: -8px;
                padding: 8px;
                cursor: pointer;
              }
            }

            .like_account {
              margin-bottom: 8px;
              padding: 0 16px;
              display: flex;
              align-items: center;

              .like_account_img {
                margin-right: 4px;
                width: 24px;
                border-radius: 100%;
              }
              
              .like_account_count  {
                margin-left: 5px;
              }
              
            }
            
            .comment_list {
              padding: 0 16px;
              margin: 10px 0;
              
              a {
                font-weight: bold;
                margin-right: 10px;
                cursor: pointer;
              }
            
              div {
                margin: 10px 0;
              }
            }

            .comment_input {
              display: flex;
              align-items: center;
              justify-content: space-between;
              flex-direction: row;
              width: 100%;
              height: 56px;
              margin-top: 4px;
              padding: 0 16px;
              border-top: var(--container-border);
              font-size: 14px;

              form {
                display: flex;
                flex-direction: row;
                align-items: center;
                width: 100%;
                
                .comment_input_box {
                  width: 100%;
                  height: 25px;
                  border: 0;
                  resize: none;
                }
                
                .inactive_button,
                .active_button {
                  all: unset;
                  display: block;
                  width: 30px;
                }

                .inactive_button {
                  color: var(--inactive-color);
                }
                .active_button {
                  color: var(--active-color);
                  cursor: pointer;
                }
            }
            
          }
          }
        }
      }

      .main-right {
        display: flex;
        flex-direction: column;
        width: 100%;
        right: 0;
        height: 100vh;
      
        .right_container {
          width: 293px;
          display: block;
          position: fixed;
          background-color: gray;
        }
      }
    }
  }
}