$container-border: 1px solid #DBDBDB;
$container-border-radius: 1px;
$light-gray: #FAFAFA;
$inactive-color: #b2dffc;
$active-color: #0095F6;
$thick-gray: #8E8E8E;

.Main {
  nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 54px;
    padding: 0 20px;
    border-bottom: $container-border;
    background-color: #ffffff;
    z-index: 1;

    .wrap {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
      width: 935px;
      height: 100%;
      margin: 0 auto;

      .instagram_logo {
        font-size: 25px;
        font-family: 'Lobster', cursive
      }
      .user_input {
        border: $container-border;
        box-sizing: border-box;
        background-color: $light-gray;
        padding: 3px;
        background-repeat: no-repeat;
      }

      .user_input::-webkit-input-placeholder {
        background-image: url(https://cdn1.iconfinder.com/data/icons/hawcons/32/698627-icon-111-search-256.png);
        background-size: contain;
        background-position: 50px center;
        background-repeat: no-repeat;
        text-align: center;
      }

      .icon {
        display: inline-block;
        flex-direction: row;
        justify-content: space-around;
      }

      img {
        margin: 5px;
        width: 22px;
      }
    }
  }

  main {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
    background-color: $light-gray;

    .main_container {
      display: flex;
      position: relative;
      top: 54px;
      width: 935px;

      .feeds {
        display: flex;
        flex-direction: column;
        float: left;
        margin-right: 30px;
        width: 100%;


      }

      .main-right {
        display: flex;
        flex-direction: column;
        width: 100%;
        right: 0;
        height: 100vh;
      
        .right_container {
          width: 293px;
          display: block;
          position: fixed;
          background-color: $light-gray;

          .userAcconut_container{
            display: flex;
            justify-content: space-between;

            .user_detail{
              display: flex;
              align-items: center;
              
              .user_img{
                width: 56px;
                height: 56px;
                border-radius: 50%;
                margin-right: 12px;
              }

              .user_text{
                p{
                  font-size: 12px;
                  font-weight: bold;
                }
                span{
                  font-size: 10px;
                  color: $thick-gray;
                }
              }

              
            }
          }
        }
      }
    }
  }
}