.Login {
    * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      background-color: white;
      position: relative;
    }
    .background {
      position: relative;
      display: flex;
      height: 1000px;
      justify-content: center;
      background-color: thistle;
      align-items: center;
      .container {
        font-family: "Open Sans", sans-serif;
        font-size: 70px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 600px;
        height: 750px;
        border: 10px double hotpink;
        #idform {
          margin-top: 50px;
          font-size: 18px;
        }
  
        #passwordform {
          margin-top: 5px;
          font-size: 18px;
        }
  
        #idform,
        #passwordform {
          width: 350px;
          height: 50px;
        }
  
        .westatitle {
          margin-top: 0px;
          font-family: "Lobster", cursive;
        }
  
        #loginbtn {
          width: 350px;
          height: 50px;
          background-color: rgb(185, 216, 256);
          color: white;
          font-size: 30px;
          border-radius: 5px;
          margin-top: 20px;
        }
      }
    }
  }
  