.Login {
  * {
    position: relative;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: white;
  }
  .background {
    position: relative;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 1000px;
    background-color: thistle;

    .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 600px;
      height: 750px;
      border: 10px double hotpink;
      font-family: "Open Sans", sans-serif;
      font-size: 70px;

      #idform {
        margin-top: 50px;
        background-color: rgb(249, 249, 249);
        font-size: 18px;
      }

      #passwordform {
        margin-top: 5px;
        background-color: rgb(249, 249, 249);
        font-size: 18px;
      }

      #idform,
      #passwordform {
        width: 350px;
        height: 50px;
      }

      .westatitle {
        margin-top: 0px;
        font-family: "Lobster", cursive;
      }

      #loginbtn {
        margin-top: 20px;
        width: 350px;
        height: 50px;
        border-radius: 5px;
        background-color: rgb(185, 216, 256);
        color: white;
        font-size: 30px;
      }
    }
  }
}
