%flexCenter {
	display: flex;
	align-items: center;
	justify-content: center;
}

$light-gray: #FAFAFA;

*{
  box-sizing: border-box;
}

body{
  background-color: $light-gray;
  font-size: 14px;
  height: 100%;
}