$container-border: 1px solid #DBDBDB;
$container-border-radius: 1px;
$light-gray: #FAFAFA;
$inactive-color: #b2dffc;
$active-color: #0095F6;



.Login{
  .login_container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 400px;
    margin: 100px auto 0;
    padding: 10px 45px;
    border: $container-border;
    border-radius: $container-border-radius;
    background-color: #ffffff;

    .instagram_logo {
      width: 300px;
      margin: 30px 0;
      font-size: 50px;
      text-align: center;
      font-family: 'Lobster', cursive
    }

    .id_input, .password_input {
      width: 100%;
      height: 36px;
      margin-top: 5px;
      padding: 10px;
      border: $container-border;
      border-radius: $container-border-radius;
      background-color: $light-gray;
      font-size: 12px;
    }

    .active_btn, .inactive_btn{
      width: 100%;
      height: 30px;
      margin-top: 10px;
      border-style: none;
      color: #FFFFFF;
    }
    
    .inactive_btn {
      background-color: $inactive-color;
    }
    
    .active_btn {
      background-color: $active-color;
      cursor: pointer;
    }
    
    .underline_content {
      display: flex;
      height: 15px;
      margin: 7.5px 0;
    }
    
    .underline {
      position: relative;
      top: 7.5px;
      width: 100px;
      height: 1px;
      background-color: #dbdbdb;
    }
    
    .under_text {
      margin: 0px 10px;
      padding: 0;
      color: #8e8e8e;
      font-size: 13px;
    }

    .facebook_login_btn {
      all: unset;
      cursor: pointer;

      img {
        position: relative;
        top: 2px;
        width: 16px;
        margin-right: 8px;
      }
      
      span {
        color: #385185;
        font-size: 14px;
        font-weight: bold;
      }
    }
    .forget-password {
      color: #00376b;
      font-size: 12px;
      text-decoration: none;
      cursor: pointer;
    }
  }
  .create_accout_container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 60px;
    margin: 10px auto;
    padding: 10px 45px;
    border: $container-border;
    border-radius: $container-border-radius;
    background-color: #ffffff;
    
    span {
      color: #0095f6;
      cursor: pointer;
    }
  }
}