.comment {
  .commnetLine {
    display: flex;
    justify-content: space-between;
    > div {
      display: flex;
    }
  }
  &:hover .delBtn{
    display: block;
  }
  
  p {
    font-size: 14px;
    line-height: 24px;
  }

  .emptyHeart {
    margin-right: 5px;
    font-size: 14px;
    cursor: pointer;
  }

  .comfullHeart {
    margin-right: 5px;
    font-size: 14px;
    color: red;
    cursor: pointer;
    animation: heartIcon .5s;
    animation-iteration-count: 1; 
  } 

  .fullHeartHide {
    display: none ;
  }
  
  .emptyHeartHide {
    display: none ;
  }

  .delBtn {
    font-size: 13px;
    margin-right: 8px;
    cursor: pointer;
    display: none;
  }
}