.Main {
  // * {
  //   // box-sizing: border-box;
  //   margin: 0;
  //   padding: 0;
  //   background-color: rgb(249, 249, 249);
  .navigation {
    position: sticky;
    top: 0;
    font-family: "Lobster", cursive;
    font-size: 30px;
    width: 100%;
    height: 54px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    border-top: solid 1px black;
    border-bottom: 1px solid rgb(160, 163, 165);
    background-color: white;
    z-index: 100;
  }

  /* body */

  .navCenter {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 85%;
    background-color: white;
    .navTitle {
      display: flex;
      align-self: flex-end;
      margin-left: 30px;
      .l {
        margin-left: 50px;
        margin-top: 10px;
      }

      .instahead {
        margin: 4px 0px 5px 15px;
        padding-left: 10px;
        border-left: 2px solid black;
      }
      .instalogo {
        width: 30px;
        height: 30px;
        margin-bottom: 10px;
      }
    }

    .center {
      width: 180px;
      background-color: white;
      .search {
        width: 150px;
        text-align: center;
      }
    }

    .naviconBox {
      display: flex;
      margin-right: 100px;
      background-color: white;
      .right {
        margin: 10px 30px 0 0;
      }
      .headmark {
        width: 30px;
        height: 30px;
      }
    }
  }

  .feedsandside {
    display: flex;
    justify-content: center;
    margin-top: 30px;

    .feeds {
      position: relative;
      width: 600px;
      height: auto;
      border: 1px solid rgb(160, 163, 165);
      border-radius: 3px;
      .feed {
        position: relative;
        width: 90%;
        height: auto;
        border: 1px solid rgb(160, 163, 165);
        border-radius: 3px;
        margin: 0 0 90px 30px;
        top: 22px;
        padding-bottom: 10px;
        // font-family: "Gothic A1", sans-serif;
        .profile {
          width: 50px;
          height: 50px;
          border-radius: 50px;
          margin: 10px 0 0 10px;
        }

        .head {
          position: absolute;
          left: 70px;
          top: 13px;
          font-size: 15px;
          margin: auto;
        }

        .contentpicture {
          width: 100%;
          height: 650px;
          margin-top: 5px;
        }

        .icons {
          display: flex;
          justify-content: space-between;
          top: 300px;
          margin-left: 10px;
          .icon {
            width: 30px;
            height: 30px;
          }

          .a {
            margin-left: 4px;
          }

          .b {
            margin-right: 2px;
          }
        }

        .like {
          margin-top: 6px;
          margin-left: 15px;
          font-size: 15px;
          .likeme {
            width: 25px;
            height: 25px;
            border-radius: 100%;
          }
          h3 {
            display: inline;
            margin-left: 2px;
            font-weight: 600;
            font-size: 18px;
          }
        }

        .chat {
          font-size: 15px;
          margin: 10px 15px 30px 15px;

          .commentelement {
            display: flex;
            justify-content: space-between;
          }
          .deletebtn {
            background-color: orange;
            width: 50ox;
            height: 30px;
          }
          .comment {
            padding: 5px;
            border: 1px dotted gray;
          }

          h3 {
            display: inline;
            margin-left: 2px;
            font-weight: 600;
            font-size: 18px;
            margin-top: 6px;
          }
          p {
            margin-top: 6px;
            color: gray;
          }
        }

        .commentbody {
          // position: relative;
          display: flex;
          flex-direction: row;

          justify-content: center;

          #comment {
            // position: absolute;
            width: 80%;
            height: 45px;
            left: 30px;
            bottom: 10px;
          }
          .commentbtn {
            height: 30px;
            width: 50px;
            margin: 10px 10px 10px 10px;
            border-radius: 3px;
            // background-color: white;
            font-family: "Gothic A1", sans-serif;
            font-weight: 20px;
            color: blue;
            border: 1px gray dotted;
            box-shadow: none;
          }
        }
      }
    }

    /* side-content */

    .content-right {
      width: 300px;
      height: 700px;
      margin: 0 10px 0 40px;
      .rightone {
        position: relative;
        margin: 0 0 15px -5px;
        .me {
          width: 50px;
          height: 50px;
          border-radius: 50px;
          margin: 10px 0 0 15px;
          border: 3px dotted hotpink;
        }

        .profileme {
          position: absolute;
          margin: 20px 0 0 10px;
          font-size: 20px;
        }

        .arrow_box {
          position: absolute;
          background: #d4b7d5;
          width: 170px;
          height: 165px;
          z-index: 1000;
          top: 88px;
          left: 0px;
          &:after {
            bottom: 100%;
            left: 50%;
            border: solid transparent;
            content: "";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-color: rgba(212, 183, 213, 0);
            border-bottom-color: #d4b7d5;
            border-width: 20px;
            margin-left: -20px;
            z-index: 1000;
          }

          .profileclicklist {
            background-color: #d4b7d5;
            border: 2px dashed rgb(236, 224, 230);
            font-family: "Lobster", cursive;
            font-size: 25px;
          }
        }
      }

      .righttwo {
        border: 2px rgb(160, 163, 165) dotted;
        overflow: scroll;
        width: 300px;
        height: 300px;
        .storyhead {
          display: flex;
          justify-content: space-between;
          font-family: "Gothic A1", sans-serif;
          .storyheadleft {
            font-size: 15px;
            color: grey;
            margin: 7px 0 0 12px;
          }

          .storyheadright {
            font: bold 15px;
            margin: 5px 10px 0 0;
          }
        }

        ul {
          list-style: none;
          margin-top: 8px;
          padding: 0px;

          li {
            display: flex;
            position: relative;

            .storyid {
              margin: 17px 0 0 10px;
              font-family: "Gothic A1", sans-serif;
              font-size: 15px;
              p {
                color: gray;
                font-size: 15px;
                margin-left: 2px;
              }
            }
            .storyphoto {
              width: 50px;
              height: 50px;
              border-radius: 50px;
              margin: 8px 0 0 10px;
            }
          }
        }
      }

      .rightthree {
        margin-top: 35px;
        border: rgb(160, 163, 165) dotted 2px;
        overflow: scroll;
        width: 300px;
        height: 300px;
        .storyhead {
          display: flex;
          justify-content: space-between;
          font-family: "Gothic A1", sans-serif;
          .storyheadleft {
            font-size: 15px;
            color: grey;
            margin: 7px 0 0 12px;
          }

          .storyheadright {
            font: bold 15px;
            margin: 5px 10px 0 0;
          }
        }

        ul {
          list-style: none;
          margin-top: 8px;
          padding: 0px;

          li {
            display: flex;
            position: relative;

            .storyid {
              margin: 17px 0 0 10px;
              // font-family: "Lateef", cursive;
              font-size: 15px;
              p {
                color: gray;
                font-size: 15px;
                margin-left: 2px;
              }
            }
            .storyphoto {
              width: 50px;
              height: 50px;
              border-radius: 50px;
              margin: 8px 0 0 10px;
            }

            .follow {
              position: absolute;
              color: rgb(61, 139, 238);
              margin-top: 17px;
              right: 14px;
            }
          }
        }
      }
    }

    .outside {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 800;
      opacity: 0%;
    }
  }

  /* DOM class */

  /* add comment */
  .box {
    display: grid;
    width: 95%;
    height: auto;
    z-index: 20;
    margin: auto;

    .commentbtn {
      height: 5px;
      width: 95%;
      margin: 5px 0 5px 0;
      padding: 10px;
      display: flex;
      justify-content: space-between;
      .deletebtn {
        width: 50px;
        height: 15px;
        right: 10px;
        background-color: hotpink;
      }

      .likebtn {
        width: 15px;
        height: 15px;
        margin-right: 15px;
      }
      .text {
        color: black;
      }
    }
  }

  /* modal */

  .profileclickphoto {
    width: 35px;
    height: 35px;
    background-color: #d4b7d5;
  }

  // }
}
