body {
  background-color: #fafafa;
  margin: 0px;
}

ul,
li {
  list-style: none;
}

.Main {
  .nav {
    width: 100%;
    height: 55px;
    display: block;
    justify-content: space-around;
    border-bottom: 1px solid rgb(185, 185, 185);
    background-color: white;
    .nav-sub {
      height: 55px;
      width: 800px;
      display: flex;
      justify-content: space-between;
      margin-left: 220px;
      padding-top: 8px;

      .nav-title {
        font-family: "Lobster Two", cursive;
        font-size: 30px;
        font-weight: 500;
        margin: -5px;
      }

      .search {
        margin-left: -150px;
        position: relative;
        padding: 0px;
        height: 28px;
        width: 215px;
        border-radius: 2px;
        border: 1px solid rgb(216, 214, 214);
      }

      .search-bar {
        padding: 0px;
        height: 28px;
        width: 215px;
        border-radius: 2px;
        border: 1px solid rgb(216, 214, 214);
      }

      .search-bar::placeholder {
        text-align: center;
        color: rgba(128, 128, 128, 0.589);
        padding: 0px;
        background-color: rgba(221, 221, 221, 0.082);
      }

      .search-icon {
        position: absolute;
        margin-left: 410px;
        margin-top: 1.5px;
        color: rgb(185, 185, 185);
      }

      .nav-icons {
        margin-left: -200px;
        display: flex;
      }
      .nav-icons span {
        margin-right: 15px;
      }

      .photo {
        width: 30px;
        height: 30px;
        .profile {
          width: 100%;
          height: 100%;
          border-radius: 50%;
        }
      }
    }
  }

  .main-box {
    border: 1px solid rgb(207, 207, 207);
    border-radius: 2px;
    display: flex;
    width: 600px;
    height: 120px;
    margin-left: 250px;
    margin-top: 30px;
  }

  .main-lap {
    display: flex;

    .mainContainer {
      margin-left: 250px;
      width: 600px;
      // height: auto;

      .main-feed {
        width: 600px;
        margin-top: 40px;
        background-color: white;
        border: 1px solid rgb(207, 205, 205);
        border-radius: 3px;
        position: relative;
      }

      .main-feed__photo {
        width: 600px;
        height: auto;

        .FeedPhoto {
          width: 100%;
        }
      }
      .photo2 {
        width: 50px;
        height: 50px;
        margin: 10px;
        .profile {
          width: 100%;
          height: 100%;
          border-radius: 50%;
        }
      }
      .myname {
        position: absolute;
        left: 75px;
        top: -3px;
        font-weight: bolder;
        font-size: 15px;
        color: rgb(68, 68, 68);
      }

      .myposition {
        position: absolute;
        left: 75px;
        top: 20px;
        font-size: 14px;
        color: rgb(92, 91, 91);
      }

      .main-top i {
        color: rgb(92, 91, 91);
        position: absolute;
        left: 560px;
        top: 30px;
      }

      .main-feed__photo {
        widows: 600px;
        height: 600px;
      }

      .feed-icon i {
        margin: 15px 0px 5px 15px;
        color: rgb(63, 62, 62);
      }

      .comment-line {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 5px;
      }

      .comment-plus {
        margin-left: 15px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
      }

      .comment-like {
        font-weight: bolder;
        font-size: 15px;
        margin-left: 15px;
      }

      .comment-text {
        font-size: 15px;
        font-weight: bold;
        padding: 0;
        margin: 0px 15px 0px 0px;
      }

      .comment-text2 {
        font-size: 15px;
        margin: 0px;
      }

      .yourName {
        font-weight: bolder;
        margin-right: 10px;
      }

      .type-comment {
        position: relative;
        display: flex;
        justify-content: space-between;

        .comment-input {
          width: 100%;
          // height: 50px;
          padding-left: 15px;
          border: 1px solid rgb(221, 221, 221);
          margin-top: 10px;
        }

        input:focus {
          outline: none;
        }

        .button {
          width: 60px;
          height: 50px;
          bottom: 10px;
          right: 10px;
          font-size: 15px;
          font-weight: bold;
          color: rgb(142, 181, 255);
          background-color: white;
          border: none;
        }
      }
    }

    // .main-sub {
    //   margin-top: 50px;
    //   border: 1px solid rgb(255, 255, 255);
    //   margin-left: 30px;
    //   padding-left: 10px;
    //   position: relative;

    //   .main-sub2 {
    //     display: flex;
    //     justify-content: space-between;
    //     padding: 70px 10px 0px 0px;
    //     margin-bottom: 20px;
    //     .main-sub2__title {
    //       font-weight: bolder;
    //       color: rgb(156, 154, 154);
    //       padding-top: 10px;
    //     }

    //     .main-sub2__all {
    //       font-size: 13px;
    //       font-weight: bolder;
    //       padding-top: 13px;
    //     }
    //   }

    //   .friendsRecomentdation {
    //     padding-left: 0px;

    //     width: 300px;

    //     overflow: hidden;
    //     display: flex;
    //     justify-content: space-between;

    //     .dog-friends {
    //       width: 70px;
    //       height: 90px;
    //       border-radius: 50%;

    //       .friendImg {
    //         width: 100%;
    //         margin-bottom: 21px;
    //         border-radius: 50%;
    //       }
    //     }
    //     .friendsText {
    //       display: flex;
    //       justify-content: space-between;
    //     }
    //   }
    // }
  }
}
