.story-box {
  // width: 600px;
  height: 120px;
  padding-top: 10px;

  .storyimgs {
    width: 70px;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 25px;
    border-radius: 50px;

    background: var(--c, linear-gradient(to right, #9c20aa, #fb3570));
    -webkit-mask: radial-gradient(
      farthest-side,
      transparent calc(100% - var(--b) - 1px),
      #fff calc(100% - var(--b))
    );
    mask: radial-gradient(
      farthest-side,
      transparent calc(100% - var(--b) - 1px),
      #fff calc(100% - var(--b))
    );
  }
  .storyimg {
    width: 85%;
    border: 2px solid white;
    border-radius: 50%;
    margin: 19px 0px 0px 3.2px;
  }
  .story_id {
    font-size: 14px;
    text-align: center;
  }
}
