* {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 12px;
  color: #8e8e8e;

  .Login {
    background-color: #c6defa;
    width: 270px;
    height: 30px;
    font-size: 14px;
    font-weight: 600;
    border: none;
    border-radius: 4px;
    color: white;

    .Main {
      align-items: center;
      display: flex;
      justify-content: center;
      text-align: center;
      background-color: #fafafa;
      height: 75vh;
      width: 100vw;

      .instagramimg {
        width: 455px;
        height: 620px;
        background-color: blue;
        display: none;
      }

      .users-form {
        width: 350px;
        height: 380px;
        padding: 0 0 10px 0;

        .contain {
          box-sizing: border-box;
          border: 1px solid lightgray;
          background-color: white;
          justify-content: center;

          .insta-logo {
            width: auto;
            height: 50px;
            margin: 30px auto;
            margin-top: 40px;
          }

          .btn {
            width: 258px;
            height: 36px;
            background-color: #fafafa;
            margin: 3px 0px;
            padding: 9px 0 px 7px 8px;
            border: 1px solid lightgray;
            border-radius: 3px;
            margin: 10px 0;
          }

          input {
            color: black;
            line-height: normal;
            padding-left: 0.8em;
          }

          .login-btn {
            background-color: #c6defa;
            width: 270px;
            height: 30px;
            font-size: 14px;
            font-weight: 600;
            border: none;
            border-radius: 4px;
            color: white;
            margin-top: 10px;
          }

          .or {
            display: flex;
            margin-top: 10px;
            font-weight: 700;

            .hr1 {
              border-style: none;
              border-top: 1px solid lightgray;
              margin: 10px 15px 0 45px;
            }

            .hr2 {
              border-style: none;
              border-top: 1px solid lightgray;
              margin: 10px 45px 0 15px;
            }

            .or- {
              width: 80px;
              font-size: 13px;
            }
          }
          //--.or--
          .login-to-facebook {
            padding-top: 15px;

            #facebooklogo {
              width: 16px;
              padding-top: 10px;
            }

            .login-to-fb {
              display: inline;
              font-size: 14px;
              color: #385185;
              font-weight: 600;
              padding-left: 4px;
              text-decoration: none;
              margin: 10px 0;
            }
            .forgot-password {
              font-size: 12px;
              color: #00376b;
              margin: 18px 0;
              text-decoration: none;
              display: block;
              margin: 10px 0;
            }
          }
          //--.login-to-facebook
        }
        //--.contain

        .sign-up {
          width: 350px;
          height: 64px;
          box-sizing: border-box;
          background-color: white;
          margin: 10px 0 0 0;
          box-sizing: border-box;
          border: 1px solid lightgray;
          justify-content: center;
          box-sizing: border-box;
          padding-top: 22px;

          .had-account {
            margin: 10px 0;
            font-size: 14px;
            color: black;
          }

          .sign-up-link {
            display: inline;
            font-size: 14px;
            color: #0095f6;
            font-weight: 600;
            padding-left: 4px;
          }
        }
        //----.sign-up--

        .download-app {
          height: 20px;
          color: #262626;
          font-size: 14px;
          margin: 16px auto;
        }

        .download {
          display: flex;
          justify-content: center;

          button {
            width: 135px;
            height: 40px;
            background-color: black;
            color: white;
            border: none;
            border-radius: 5px;
            margin: 4px;

            b {
              color: white;
            }
          }
        }
        //--.download
      }
      //--users-form
    }
    //--main
    .footer {
      height: 20vh;
      background-color: #fafafa;
      display: none;

      .footer-menu {
        margin: 0 auto;
        width: 60vw;
        display: flex;
        list-style: none;
        font-size: 12px;
        color: #8e8e8e;
        display: flex;
      }

      .footer-info {
        text-align: center;
      }
    }
    //--fo0ter
  }
  //--Login
}
