
.commentList {
  margin-bottom: 5px;

  div {
    align-items: center;

    span {
      line-height: 26px;
      font-size: 14px;
    }

    .comment {
      min-width: 455px;  
    }

    .delBtn {
      float: right;
      margin-right: 8px;
      cursor: pointer;
    }
  }

  .userName {
    font-weight: bold;
    font-size: 14px;
    margin: 0;
    margin-right: 10px;
  }
}

.commentWrite {
  margin: 0;
  margin-top: 6px;
  padding: 10px 0;
  width: 555px;
  display: flex;
  border-top: 1px solid #DBDBDB;

  input {
    width: 100%;
    height: 40px;
    border: transparent;
    background-color: transparent;
    &:focus {
      outline: none;
    }
  }

  button {
    width: 50px;
    padding: 5px 0;
    font-size: 14px;
    color: #7cc6f8;
    cursor: pointer;
    .active {
      color: #0095F6;
    }
  } 
}

.commnetBtnbox {
  display: flex;
  i {
    cursor: pointer;
  }
}
